{% extends "layout.html" %}

{% block title %}Elevance X - Home{% endblock %}

{% block content %}
<section class="hero-section">
  <video class="hero-video" autoplay muted loop>
    <source src="{{ url_for('static', filename='images/bgv1.mp4') }}" type="video/mp4" />
  </video>
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="hero-title">Elevance X</h1>
    <p class="hero-subtitle">
      Empowering Brands through Authentic Influence
    </p>
    <a href="https://discord.gg/elevencex" target="_blank" class="btn btn-secondary hero-btn">Join Discord</a>
  </div>
</section>


<section class="service-section">
  <h1>Media Services</h1>
  <div class="service-item" data-aos="slide-right" data-aos-duration="1600">
    <img src="{{ url_for('static', filename='images/moon.jpg') }}" alt="Service Image" />
    <div class="glass-overlay"></div> <!-- Glass overlay layer -->
    <div class="content">
      <h2>Influencer Marketing</h2>
      <p>
        We specialize in influencer campaigns designed to amplify your brand's reach and engagement. By collaborating with prominent figures across social platforms, we connect your brand with target audiences through authentic and compelling content.
      </p>
      <!-- <div class="read-more">
        <a href="influencer-marketing">Read More</a>
      </div> -->
    </div>
  </div>

  <div class="service-item" data-aos="slide-right" data-aos-duration="1600">
    <img src="{{ url_for('static', filename='images/galaxy1.jpg') }}" alt="Service Image" />
    <div class="glass-overlay"></div> <!-- Glass overlay layer -->
    <div class="content">
      <h2>Sponsorships</h2>
      <p>
        Elevance X provides comprehensive sponsorship packages tailored to meet the unique needs of businesses and organizations looking to enhance their visibility. We facilitate strategic partnerships between sponsors and events, social media influencers, or online content creators.
      </p>
      <!-- <div class="read-more"><a href="sponsor">Read More</a></div> -->
    </div>
  </div>


  <div class="service-item" data-aos="slide-right" data-aos-duration="1600">
    <img src="{{ url_for('static', filename='images/galaxy2.jpg') }}" alt="Service Image" />
    <div class="glass-overlay"></div> <!-- Glass overlay layer -->
    <div class="content">
      <h2>Social Media Management</h2>
      <p>
        Elevance X specializes in expert social media management services designed to boost your brand’s online presence and engagement. Our team crafts tailored strategies to align with your business objectives, managing platforms like Discord, Instagram, YouTube, and more.
      </p>
      <!-- <div class="read-more"><a href="smm">Read More</a></div> -->
    </div>
  </div>
</section>
{% endblock %}
